{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                {{ current_category ? current_category.name : 'Produits' }}
            </h1>
            <p class="lead text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, veniam, eius aliquam quidem rem sunt nam quaerat facilis ex error placeat ipsa illo sed inventore soluta ipsum cumque atque ea?</p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                        {% if current_category %}
                            <li class="breadcrumb-item"><a href="{{ path('product_list') }}">Produits</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ current_category.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">Produits</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Filtres</div>
                    <form action="" method="get">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="color[]" value="bleu" class="form-check-input" id="color-bleu">
                                    <label class="form-check-label" for="color-bleu">Bleu</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="color[]" value="rouge" class="form-check-input" id="color-red">
                                    <label class="form-check-label" for="color-red">Rouge</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input type="checkbox" name="color[]" value="vert" class="form-check-input" id="color-vert">
                                    <label class="form-check-label" for="color-vert">Vert</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-primary btn-block">Filtrer</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Catégories</div>
                    <ul class="list-group category_block">
                        {% for category in categories %}
                            <li class="list-group-item {% if current_category == category %}active{% endif %}">
                                <a href="{{ path('category_show', {slug: category.slug}) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if last_product %}
                    <div class="card bg-light mb-3">
                        <div class="card-header bg-success text-white text-uppercase">Dernier produit</div>
                        <div class="card-body">
                            <img class="img-fluid" src="{{ asset('uploads/' ~ last_product.image) }}" />
                            <h5 class="card-title mt-3">{{ last_product.name }}</h5>
                            <p class="card-text">{{ last_product.description | slice(0, 50) }}...</p>
                            <p class="bloc_left_price">{{ ((last_product.price - last_product.price * last_product.discount / 100) / 100) | number_format(2, ',', '') }} &euro;</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col">
                <div class="row">
                    {% for product in products %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img class="card-img-top" src="{{ asset('uploads/' ~ product.image) }}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="{{ path('product_show', {slug: product.slug}) }}" title="View Product">{{ product.name }}</a></h4>
                                    <p class="card-text">{{ product.description | slice(0, 50) }}...</p>
                                    <div class="row">
                                        <div class="col">
                                            <p class="btn btn-danger btn-block">{{ ((product.price - product.price * product.discount / 100) / 100) | number_format(2, ',', '') }} &euro;</p>
                                        </div>
                                        <div class="col">
                                            <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success btn-block">Ajouter au panier</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        <nav>
                            {% set route = 'product_list' %}
                            {% set params = {} %}
                            {% if current_category %}
                              {% set route = 'category_show' %}
                              {% set params = {slug: current_category.slug} %}
                            {% endif %} 
                            <ul class="pagination">
                                {% if current_page > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path(route, params|merge({page: current_page - 1})) }}">Précédent</a>
                                </li>
                                {% endif %}
                                {% if max_page > 0 %}
                                    {% for page in 1..max_page %}
                                        <li class="page-item {% if page == current_page %}active{% endif %}">
                                            <a class="page-link" href="{{ path(route, params|merge({page: page})) }}">{{ page }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                {% if current_page < max_page %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path(route, params|merge({page: current_page + 1})) }}">Suivant</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
