{% extends 'admin/base.html.twig' %}

{% block title %}Modifier {{ product.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-between my-5">
        <h1>Modifier {{ product.name }}</h1>
        <div>
            <a href="{{ path('admin_product_index') }}">
                <i class="fa fa-arrow-left"></i>
            </a>
            {{ include('admin/product/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('admin/product/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
